body{
background: #ebeb99;
}
main{
    max-width: 1300px;
    margin: auto;
}
header{
    text-align: center;
}
h1{
    border: 1px solid blueviolet;
    margin-top: 10px;
    border-top: none;border-right: none;border-left: none;
}
h2{
    color: red;
}